FLASK_ENV=production
DATABASE_URL=postgresql://postgres:postgres@db:5432/ai_text_generator
SECRET_KEY=jjdhhjdhhdhhdhhjdhhdhdhhdhdjhjdhjhjd
JWT_SECRET_KEY=jhjhdjhfjdhjfdhhdhdhh
OPENAI_API_KEY=your_api_key_here
OPENAI_MODEL=gpt-4o-mini
DEFAULT_AI_PROVIDER=openai
LOG_LEVEL=INFO